{% extends 'base.html' %}

{% load i18n %}
{% block content %}

<div class="my-4">

        <h3>{% trans 'Delete profile' %}</h3>
        <p>{% trans 'Are you sure? Do you want to delete your profile?' %}</p>
         <ul class="navbar-nav">

            <form action="{% url 'tasks_delete' pk=task.id %}" method="post" class="d-flex">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Yes, delete' %}" class="btn btn-danger">
            </form>
         </ul>
            <form action="{% url 'index' %}" method="get" class="d-flex">
                {% csrf_token %}
                <input type="submit" value="{% trans 'Cancel' %}" class="my-3 align-items-start btn btn-outline-light">
            </form>
        </div>

{% endblock %}